body{
  min-height: 100vh;
  transition: 0.5s;
  transition-timing-function: ease-in;
  background-image: url(https://i.pinimg.com/originals/0b/77/41/0b7741818a850f750255a37e4933b9f4.jpg);
  background-position: center;
  background-repeat: none;;
}
  .container-1 {
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    width: 600px;
    background-color: rgba(209, 107, 12, 0.3);
    margin: 0 auto;
    margin-top: 100px;
  }
  .fa-quote-left,
  .fa-quote-right {
    font-size: 35px;
    color: rgb(0, 0, 0);
  }
.quote {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
.author {
    color: rgb(255, 255, 255);
    margin: 10px;
    text-align: right;
    font-size: 25px;
    font-style: italic;
    font-family: cursive;
    font-weight: 600;
  }
  hr {
    margin: 10px 0;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
  }
  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
  }

  .next {
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
    font-weight: bold;
    color: white;
    background-image: linear-gradient(
      to right bottom,
      rgb(6, 7, 1),
      #d36e10d3
    );
  }
  .container-1:hover {
    box-shadow: 0 10px 10px rgb(253, 253, 253);
  }

div {
  display: flex;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  background-image: url(img/background.jpg);
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 75%;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}

.navbar-toggler {
  opacity: 0%;
}



